<footer class="footer">
<div class="container pt-20 pb-20 pt-lg-40 pb-lg-40">
    <!-- Start of Top Block-->
    <div class="d-lg-flex flex-row justify-content-between mb-20">
        <!-- Start of LOGO Block-->
        <div class="">
            <div class="d-flex flex-column mb-10">
                <img src="../assets/images/pc/logo.png" style="width:196px;" alt="圖片1" class="">
                <!-- <img src="../assets/images/Enjoyment Luxury Hotel.png" alt="圖片1" class=""> -->
            </div>
            <ul class="list-unstyled d-flex mb-10">
                <li class=""><a href="#"><img src="../assets/images/bi_line.png" class="rounded-circle border border-1 border-white p-2"  alt="line"></a></li>
                <li class="ms-4"><a href="#"><img src="../assets/images/Group.png" class="rounded-circle border border-1 border-white p-2" alt="group"></a></li>
            </ul>
        </div>
        <!-- End of LOGO Block-->

        <!-- Start of Contact Block-->
        <div class="d-lg-flex flex-row">
            <div class="mb-4 me-lg-20">
                <p class="fs-6 mb-2">TEL</p> 
                <p class="fs-6 mb-4 mb-lg-10"><a href="tel:+886-7-1234567" class="text-light">+886-7-1234567</a></p>
                <p class="fs-6 mb-lg-2">FAX</p>
                <p class="fs-6"><a href="tel:+886-7-1234567" class="text-light">+886-7-1234567</a></p>
            </div>
            <div class="">
                <p class="fs-6 mb-2">MAIL</p> 
                <p class="fs-6 mb-4 mb-lg-10"><a href="mailto:elh@hexschool.com" class="text-light">elh@hexschool.com</a></p>
                <p class="fs-6 mb-2">WEB</p>
                <p class="fs-6"><a href="https://www.elhhexschool.com.tw" class="text-light">www.elhhexschool.com.tw</a></p>
            </div>
        </div>
        <!-- End of Contact Block-->
    </div>
    <!-- End of Top Block-->
   
    <!-- Start of Bottom Block-->
    <div class="d-lg-flex flex-row justify-content-between">
        <p class="fs-8 fs-lg-7 fwv-400 fwv-lg-500 lh-base mb-4 mb-lg-0">806023 台灣高雄市新興區六角路123號 </p>
        <p class="fs-8 fs-lg-7 fwv-400 fwv-lg-500 lh-base">© 享樂酒店 2023 All Rights Reserved.</p>
    </div>
    <!-- End of Bottom Block-->
</div>
</footer>